.List.CatsList {
    padding: 0;
    background-color: #000;
}

.AnimalCard {
    display: flex;
    flex-direction: column;
    margin-bottom: -100px;
    border-top-right-radius: 100px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.625);
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.AnimalCard:nth-of-type(1) {
    overflow: visible;
    border-top-right-radius: 0;
}
.AnimalCard:nth-of-type(1) .AnimalCard__Photo img {
    border-top-right-radius: 0;
}
.AnimalCard:nth-of-type(2n+1) {
    background-color: #BAB4C7;
}
.AnimalCard:nth-of-type(3n+1) {
    background-color: #ECB75D;
}
.AnimalCard:nth-of-type(4n+1) {
    background-color: #404E67;
    color: #fff;
}
.AnimalCard:nth-of-type(5n+1) {
    background-color: #915E71;
    color: #fff;
}
.AnimalCard:nth-of-type(6n+1) {
    background-color: #FF9002;
    color: #fff;
}
.Div--ios.AnimalCard {
    padding: 0px;
    padding-bottom: 180px;
}

.AnimalCard__Photo {
    display: flex;
    justify-content: center;
}

.AnimalCard__Photo img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 420px;
    object-fit: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 100px;
}

.AnimalCard__Footer,
.AnimalCard__Info {
    padding-left: 32px;
    padding-right: 32px;
}

.AnimalCard__Name {
    font-size: 32px;
    line-height: 1;
    padding: 0 !important;
}

.AnimalCard .ReactionBtn {
    transition: opacity .05s ease-in, transform .05s ease-in;
}
  
.AnimalCard .ReactionBtn--Liked > button .Button__content,
.AnimalCard .ReactionBtn--Disliked > button .Button__content {
    transform: scale(1.5);
    opacity:1;
}

.ReactionBtn {
    display: flex;
    justify-content: center;
}

.ReactionBtn button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgb(32, 120, 244);
    border: none;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
}

.ReactionBtn--Dislike button {
    background-color: rgba(243, 62, 88, 0.8);
}

.ReactionBtn--Dislike .ReactionBtn__Icon {
    display: block;
    transform: translateY(6px);
}

.AnimalCard--Liked .ReactionBtn--Like,
.AnimalCard--Disliked .ReactionBtn--Dislike {
    transform: scale(1.5);
}

.AnimalCard--Liked .ReactionBtn--Dislike,
.AnimalCard--Disliked .ReactionBtn--Like {
    transform: scale(0.75);
    opacity:0.5;
}



.AnimalCard__Footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.AnimalCard__Footer .ReactionBtn {
    flex-basis: 50%;
}

.ReactionBtn .ReactionBtn__Icon {
    font-size: 32px;
    line-height: 1;
    padding: 0;
}
